NODE_ENV=
DATABASE_URL=

BCRYPT_SALTROUNDS=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

USER_COUNT_CHECKPOINT=

# EMAIL
RESEND_API_KEY=
RESEND_SYSTEM_SENDER=

# LOCI
LOCI_BASE_URL=
LOCI_API_KEY=

# EDGE STORE
EDGE_STORE_ACCESS_KEY=
EDGE_STORE_SECRET_KEY=